body {
    background-color: #FFF;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

label {
    font-weight: bold;
    width: 100px;
    font-size: 14px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.content {
    float: left;
    width: 800px;
}

.login-header {
    background-color: #333;
    color: #FFF;
    padding: 3px;
}

.login-box {
    margin: 30px;
}

.error {
    font-size: 11px;
    color: #C00;
    margin-top: 10px;
}

.box {
    border: #666 solid 1px;
}